<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>  
                
                
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <!--<p>{{site.author-about}}</p>-->
                    <p>Sachin is a senior technical writer with a demonstrated history of creating impactful technical documentation.</p>
                   
                    <p>Sachin is also groomed with diversified software skills across verticals!</p>
                   
                    <p><strong>Industries:</strong> Software, Product documentation, Healthcare, etc.</p>
                    <p><strong>Documents:</strong> User Guides, Quick Start Guides, Release Notes, API documentation, White papers, e-books, etc.</p>
                    <p><strong>Software tools:&nbsp;</strong>XMetal, Windchill, Adobe Premiere Pro 2020, Adobe XD, SnagIT, Visio, Google Docs.</p>
                    
                    <p><strong>Skill Sets:&nbsp;</strong> Authoring, Image & Video Editing, Single-Sourcing, Content Management, Programming/DB exposures (PHP, Python, MySQL)</p>
                    
                    <p>Here, you can find out about my content work and get a little taste of what I&rsquo;m all about.</p>
                    
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/Software-documentations"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths">Check out my writing Samples</a>
                            </a>
                        </div>
                        <!--<div>
                            <a href="{{site.url}}{{site.baseurl}}/#skill-set"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths">My Skill Set</a>
                            </a>
                        </div>-->
                        <!--New buttons for my portfolio-->
                        <div style="
                            margin-top: 50px;
                            right: 30em;
                            position: relative;
                        "> 
                            <a href="mailto:{{site.email}}" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths" target="_blank">Send me an email</a> 
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
</section>
