<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>  
                
                
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <!--<p>{{site.author-about}}</p>-->
                    <p>Sachin is a senior technical writer with a demonstrated history of creating impactful technical documentation.</p>
                    <p><br></p>
                    <p>Sachin is also groomed with diversified software skills across verticals!</p>
                    <p><br></p>
                    <p><strong>Industries:</strong> Software, Product documentation, Healthcare, etc.</p>
                    <p><strong>Documents:</strong> User Guides, Quick Start Guides, Release Notes, API documentation, White papers, e-books, etc.</p>
                    <p><strong>Software tools:&nbsp;</strong>XMetal, Windchill, Adobe Premiere Pro 2020, Adobe XD, SnagIT, Visio, Google Docs.</p>
                    <p><br></p>
                    <p>Here, you can find out about my content work and get a little taste of what I&rsquo;m all about.</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                        </br>
                        <div>
                            <a id="contact-button" href="http://www.linkedin.com/in/{{site.linkedin_username}}" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                            target="_blank">
                                <i class="fab fa-linkedin"></i> Ping me on LinkedIn
                            </a>
                            <a id="contact-button" href="mailto:{{site.email}}" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                            target="_blank">
                                 <i class="fas fa-envelope"></i> Send me an Email
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
