<section class="hero is-fullheight has-text-centered" id="skill-set">
    <div class="hero-body">
        <div class="container">
            <!--Progress bar for Writing skill set-->
            <div class="row">
                <div class="col-md-6" id="progress-div">
                    <div class="progress-outer">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:90%; box-shadow:-1px 10px 10px rgba(91, 192, 222, 0.7);"></div>
                            <div class="progress-value">Authoring</div>
                        </div>
                    </div>
                    <div class="progress-outer">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:90%; box-shadow:-1px 10px 10px rgba(116, 195, 116,0.7);"></div>
                            <div class="progress-value">Image and Video Editing</div>
                        </div>
                    </div>
                    <div class="progress-outer">
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:80%; box-shadow:-1px 10px 10px rgba(240, 173, 78,0.7);"></div>
                            <div class="progress-value">Programming Skills</div>
                        </div>
                    </div>
                   
                    <div class="progress-outer">
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:70%; box-shadow:-1px 10px 10px rgba(240, 173, 78,0.7);"></div>
                            <div class="progress-value">Content Management</div>
                        </div>
                    </div>
                    <div class="progress-outer">
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:70%; box-shadow:-1px 10px 10px rgba(240, 173, 78,0.7);"></div>
                            <div class="progress-value">Single-Sourcing</div>
                        </div>
                    </div>
                </div>
                <!--Progress bar for Personality skill set-->
                <div class="col-md-6" id="progress-div">
                    <div class="progress-outer">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped active" style="width:90%; box-shadow:-1px 10px 10px rgba(91, 192, 222, 0.7);"></div>
                            <div class="progress-value">Communication skills</div>
                        </div>
                    </div>
                    <div class="progress-outer">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:90%; box-shadow:-1px 10px 10px rgba(116, 195, 116,0.7);"></div>
                            <div class="progress-value">Research and Exploration</div>
                        </div>
                    </div>
                    <div class="progress-outer">
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:80%; box-shadow:-1px 10px 10px rgba(240, 173, 78,0.7);"></div>
                            <div class="progress-value">Team Work</div>
                        </div>
                    </div>
                    
                </div>
            </div>
           <!-- <a id="contact-button" href="https://m.me/{{site.linkedin_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-linkedin"></i>Ping me on LinkedIn
            </a>
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Send me an Email
            </a>
            <a id="contact-button" href="https://www.twitter.com/intent/tweet?screen_name={{site.linkedin_username}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fab fa-twitter"></i>Tweet me on Twitter
            </a>-->
            <hr>
            <!--<h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                You Can find me here
            </h3>
            <div class="column is-full is-size-3">
                {% unless site.facebook_username == %}
                <a href="http://www.facebook.com/{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-facebook"></i></a>
                {% endunless %}
                {% unless site.twitter_username == %}
                <a href="http://www.twitter.com/{{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
                {% endunless %}
                {% unless site.instagram_username ==  %}
                <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
                {% endunless %}
                {% unless site.linkedin_username ==  %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-black"><i class="fab fa-linkedin"></i></a>
                {% endunless %}
                {% unless site.github_username ==  %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}
                {% unless site.youtube_channel_id ==  %}
                <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
                {% endunless %}
                {% unless site.reddit_username ==  %}
                <a href="http://www.reddit.com/u/{{site.reddit_username}}" target="_blank" class="has-text-black"><i class="fab fa-reddit"></i></a>
                {% endunless %}
                {% unless site.behance_username ==  %}
                <a href="http://www.behance.com/{{site.behance_username}}" target="_blank" class="has-text-black"><i class="fab fa-behance"></i></a>
                {% endunless %}
                {% unless site.dribbble_username ==  %}
                <a href="http://www.dribbble.com/{{site.dribbble_username}}" target="_blank" class="has-text-black"><i class="fab fa-dribbble"></i></a>
                {% endunless %}
                {% unless site.spotify_username ==  %}
                <a href="http://open.spotify.com/user/{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-spotify"></i></a>
                {% endunless %}
            </div>-->
        </div>
    </div>
</section>
