<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">Samples</a>
    <div class="navbar-dropdown has-background-black is-left">
      <a href="{{ '/documentation/' | relative_url }}" class="navbar-item has-text-grey-light">Documentation</a>
      <a href="{{ '/full-portfolio/' | relative_url }}" class="navbar-item has-text-grey-light">Screenshots</a>
      <a href="{{ '/edits/' | relative_url }}" class="navbar-item has-text-grey-light">UI/UX & Tech Edits</a>
    </div>
  </div>
