<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
    <div class="container">

      <!-- Branding / Logo -->
      <div class="navbar-brand">
        <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/">
          <strong>{{site.title}}</strong>
        </a>
        <div class="navbar-burger" data-target="navbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <!-- Navbar Links -->
      <div class="navbar-menu has-background-black" id="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item {% if page.url == '/' %}is-active{% endif %}" href="{{site.url}}{{site.baseurl}}/">Home</a>
          <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/#about">Skills</a>
          <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/#featured">Featured</a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Samples</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/Software-documentations">Documentation</a>
              <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/project">Screenshots</a>
              <a class="navbar-item" href="{{site.url}}{{site.baseurl}}/tech-edits">Edits</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </nav>

  <!-- Bulma Navbar Toggle Script -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', function () {
            var target = $el.dataset.target;
            var $target = document.getElementById(target);
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>
