<div class="columns is-centered is-multiline is-mobile">
  {% for project in site.data.software_docs %}
    <div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
      id="project-card">
      <a href="{{project.link}}" target="_blank">

      <!--<div class="has-background-black card">
        <figure class="image is-3by1" style="background-image: url({{project.image}});">
        </figure>
        <div class="card-content">
          <h1 class="title has-text-white is-size-4">{{ project.name }}</h1>
          <p class="has-text-white has-text-weight-light content">{{ project.description | truncate: 80}}</p>
        </div>
      </div>-->

      <div class="has-background-black text-white card ">
        <img class="card-img-top" src="{{project.image}}" alt="Card image cap" >
        <div class="card-body">
           <h5 class="card-title border-bottom pb-3 has-text-white is-size-4">{{ project.name }}</h5>
           <p class="card-text has-text-white has-text-weight-light content">{{ project.description | truncate: 100}}</p>
           <a href="{{project.link}}" class="float-right">Read more <i class="fas fa-angle-double-right"></i></a>
        </div>
     </div>

      </a>
    </div>
  {% endfor %}
</div>
